# IDE
.vscode/
.idea/

node_modules

# Pulumi
.pulumi/

# Environment files
.env.*
.env

# Lambda artifacts
lambda-src/node_modules/

# OS
.DS_Store
Thumbs.db

# TypeScript
dist/
*.tsbuildinfo

# Logs
*.log
